@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
ul{
	margin:0;
	padding:0;
	list-style: none;
	height:36px;
	line-height: 36px;
	background-color: #000;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 13px;

}
li{
	float: right;
	/*border-left:1px solid #156ee2;*/

}
a{
	display: block;
	padding: 0 28px;
	color: #fff;
	text-decoration: none;
}
a:hover{
	background-color: #e29a15;
}
.active a{
	background-color: #e29a15;
}
.logo a{
    font-family: 'Josefin Sans';
    font-size: 32px;
    color: #ffffff;
    position: absolute;
}
h2{
	margin-top: 10px;
}